@charset "UTF-8";


/*
カラーリングメモ
茶　#927f6e　rgba(146, 127, 110, 1)
緑　#b3c490　rgba(179, 196, 144, 1) 150, 167, 119
薄　#feeac9　rgba(254, 234, 201, 1)
黄　#ffd87e　rgba(255, 216, 126, 1)
*/


/*共通
---------------------------------------------------------------------------*/

html {
	scroll-behavior: smooth;
	font-size: 1rem; /*16px*/
}

body {
	font-family: "Zen Maru Gothic",sans-serif;
	font-weight: 500; /*300,400,500,700,900*/
	font-style: normal;
	font-size: 0.9375rem; /*15px*/
	color:rgba(146, 127, 110, 1);
	line-height: 1.8; /*行間*/
	background: rgba(255, 247, 244, 1);
	height: 100%;
	overflow-x: hidden; /*横方向にはみ出した部分を表示しない*/
}

section {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-family: "Modak", system-ui;
	font-weight: 400;
	font-size: 3rem; /*48px*/
	color: rgba(150, 167, 119, 1);
	text-align: center; /*内容をセンタリング*/
	letter-spacing: 0.1em; /*文字間隔*/
}

a {
	color:rgba(146, 127, 110, 1);
	transition: 0.3s;
}

header a,
.btn a,
.btn-icon a,
.pagetop a,
.box-set a {
	text-decoration: none; /*リンクの下線をなくす*/	
}

ul {
	list-style: none; /*項目の■をなくす*/
}

.logo:hover {
	opacity: 0.7; /*カーソルを乗せたとき薄くなる*/
}



/*header
---------------------------------------------------------------------------*/

header img {
	margin: 20px 5%;
	width: 240px;
}

#menu {
	opacity: 0; /*透明*/
	position: fixed; /*画面に固定*/
    top: 0;
	left: 0;
	z-index: 100;
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column; /*縦に並べる*/
	justify-content: center; /*左右中央揃え*/
	align-items: center; /*上下中央揃え*/
	text-align: center; /*内容をセンタリング*/
	background: rgba(254, 234, 201, 0.9);
	transform: translateY(-100%);
	transition: transform 0.5s ease, opacity 0.5s ease;
}

#menu.open {
	opacity: 1; /*表示*/
	transform: translateY(0%);
}

header, header a {
	color: rgba(146, 127, 110, 1);
}

header a:hover {
	opacity: 0.7; /*カーソルを乗せたとき薄くなる*/
}

header button {
	top: 20px;
	right: 20px;
	position: fixed; /*画面に固定*/	
	border-radius: 50%; /*角丸*/
	display: flex;
	justify-content: center; /*左右中央揃え*/
	align-items: center; /*上下中央揃え*/
	background: rgba(255, 216, 126, 0.8);
	width: 50px;
	height: 50px;
	border: 1px solid transparent;
	color: rgba(146, 127, 110, 1)
}

.menu-sitemap li {
	padding: 20px;
}

.menu-icon li {
	display: inline-block;
	width: 60px;
	margin-top: 10px;
	font-size: 1.5rem; /*24px*/
}

.menu-icon p {
	margin-top: -10px;
	font-size: 0.75rem; /*12px*/
}



/*main
---------------------------------------------------------------------------*/

main section {
	padding-left: 5%;
	padding-right: 5%;
}

main h2 {
	margin: 70px 0 30px;
	font-weight: 900;
	letter-spacing: 0.1em; /*文字間隔*/
	color: rgba(150, 167, 119, 1);	
	border-bottom: 2px dotted rgba(150, 167, 119, 1) ;
	padding: 5px 20px;
}

main h3 {
	margin-top: 40px;
	margin-bottom :20px;;
}

main h3::before {
	content: "◆";
	margin-left: 10px;
	padding-right: 5px;
}

main h4 {
	margin-top: 30px;
	margin-bottom :10px;;
}

main .text {
	margin: 0 20px;
}

main .text-box {
	margin: 10px;
	padding: 20px 25px;
	display: inline-block; /*横並び*/
	background: rgba(254, 234, 201, 0.5);
	border-radius: 20px; /*角丸*/
}

main img {
	width: 100%;
}

main p, main ul, main table {
	margin-bottom: 10px;
}

main li:before {
	margin-right: 7px;
	content: "▪";
}

main .xul li:before {
	margin-right: 7px;
	content: "×";
}

main table {
	border-collapse: separate;
    border-spacing: 3px;
	text-align: center; /*内容をセンタリング*/
}

main th {
	width: 100px;
	padding: 5px 0;
	background: rgba(254, 234, 201, 1);
	border-radius: 7px;  /*角丸*/
}

main td {
	width: 80px;
	padding: 5px 0;
	background: rgba(254, 234, 201, 0.5);
	border-radius: 7px;  /*角丸*/
}

.indent p {
	text-indent: 0.5em;
}

.box-set {
	display: flex;
	flex-wrap: wrap; /*折り返す*/
	justify-content: space-between; /*左右均等配置*/
	margin: 40px 20px 0;
}



/*main commission
---------------------------------------------------------------------------*/

#schedule .small {
	margin-bottom: 30px;
	font-size: 0.75rem; /*12px*/
}

#schedule .small p {
	margin: 5px 10px;
}

#attention li {
	margin-bottom: 10px;
}



/*main about
---------------------------------------------------------------------------*/

.model {
	position: relative;
	display: flex;
	justify-content: center; /*左右中央揃え*/	
	align-items: flex-start; /*上揃え*/
	margin: 0 -5%;
}

.model img {
	width: auto;
	height: 800px;
	object-fit: cover;
	object-position: center center;
	overflow-x: hidden; /*横方向にはみ出した部分を表示しない*/	
}

.model-on {
	position: absolute;
	z-index: 1;
	width: 80%;
	max-width: 350px;
	margin-top: 500px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(254, 234, 201, 1);
	border-radius: 20px; /*角丸*/
}

.model-on h4 {
	margin: 0 10%;
	padding: 5px;
	text-align: center; /*内容をセンタリング*/
	background: rgba(254, 234, 201, 1);
	border-radius: 10px; /*角丸*/
}

.model-on p {
	margin: 10px 10px 0;
}

#vtuber .at {
	margin-top: 20px;
	margin-bottom: 10px;
}

#creator i {
	margin-right: 5px;
}



/*footer
---------------------------------------------------------------------------*/

footer {
	margin-top: 100px;
	padding: 20px;
	text-align: center; /*内容をセンタリング*/
	background: rgba(146, 127, 110, 0.8);
}

footer img {
	width: 170px;
}

.copy {
	color: white;
	font-size: 0.75rem; /*8px*/
}



/*btn
---------------------------------------------------------------------------*/

#links .btn {
	text-align:left; /*内容を左揃え*/
}

.btn {
	margin-top: 20px;
	text-align: center; /*内容をセンタリング*/
}

.btn a,
.btn-box {
	margin: 10px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 2px 5px rgba(111, 95, 86, 0.3); /*右 下 幅*/
	color: rgba(150, 167, 119, 1);
	border: 1.5px solid rgba(150, 167, 119, 1);
}

.btn a {
	padding: 7px 30px;
	display: inline-block; /*横並び*/
	justify-content: center; /*左右中央揃え*/
	align-items: center; /*上下中央揃え*/
	border-radius: 50px; /*角丸*/
	font-weight: 700; /*300,400,500,700,900*/
	letter-spacing: 0.1em; /*文字間隔*/
}

.btn i,
.btn-box i {
	margin-right: 7px;
}

.btn-box {
	width: 100%;
	padding: 15px;
	border-radius: 20px; /*角丸*/
}

.btn-box p {
	margin-bottom: 0;
	color: rgba(150, 167, 119, 0.9);
	font-size: 0.75rem; /*12px*/
}

.btn a:hover,
.btn-box:hover {
	transform: translateY(-2px);
	box-shadow: 0 3px 5px rgba(111, 95, 86, 0.3); /*右 下 幅*/
}

.btn-c a {
	color: rgba(255, 255, 255, 1);
	background: rgba(150, 167, 119, 1);
}


/*ページの上部へ戻るボタン
---------------------------------------------------------------------------*/

.pagetop {
	opacity: 0; /*透明*/
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.pagetop-show {
	opacity: 1; /*表示*/
	pointer-events: auto;
}

.pagetop a {
	display: flex;
	justify-content: center; /*左右中央揃え*/
	align-items: center; /*上下中央揃え*/
	z-index: 99;
	right: 20px;
	bottom: 20px;
	position: fixed; /*画面に固定*/
	color: rgba(146, 127, 110, 1);
	background: rgba(255, 216, 126, 0.8);
	width: 50px;
	height: 50px;
	border-radius: 50%; /*角丸*/
}



/*画面幅700px以上
---------------------------------------------------------------------------*/
@media screen and (min-width:700px) {

.model-set {
	display: flex;
	justify-content: center; /*左右中央揃え*/
	align-items: center; /*上下中央揃え*/	
	width: auto;
	gap: 30px;
}

/*画面幅700px以上設定終了*/
}
